.elements {
  display: grid;
  place-items: center;
  padding-top: 5rem;
}

.elements__container {
  display: grid;
  max-width: 880px;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.element__article {
  position: relative;
  max-width: 282px;
  width: 100%;
}

.element__img {
  width: 100%;
  display: block;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.element__button-trash {
  z-index: 1;
  position: absolute;
  background: url("../images/images__element/element__trash.svg") no-repeat
    center;
  background-size: contain;
  width: 20px;
  height: 20px;
  padding: 5px;
  border: none;
  top: 5%;
  right: 5%;
}

.element__button-trash:hover {
  opacity: 0.8;
  filter: drop-shadow(0 4px 4px #000);
  cursor: pointer;
}

.element__data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 246px;
  background-color: #ffffff;
  padding: 0.5rem 6.4%;
  width: 282px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.element__title {
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.5px;
  padding: 7% 0;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__likes-count {
  font-size: 16px; /* Tamaño de la fuente del contador */
  color: #333; /* Color del texto */
  align-self: center; /* Centra el contador verticalmente */
  margin-left: auto;
  font-weight: 600;
}

.element__button-like {
  background: url("../images/images__element/element__like.svg") no-repeat
    center;
  background-size: cover;
  width: 8px;
  height: 16px;
  border: none;
  box-sizing: content-box;
  margin-left: 5px;
}

.element__button-like:hover {
  opacity: 0.8;
  filter: drop-shadow(0 4px 4px #000);
  cursor: pointer;
}

.element__button-like-active {
  background: url("../images/images__element/element__like-active.svg")
    no-repeat center;
  background-size: cover;
  width: 8px;
  height: 16px;
  border: none;
  box-sizing: content-box;
}

@media screen and (max-width: 340px) {
  .card__data {
    padding: 1rem;
  }
}

@media screen and (max-width: 460px) {
  .modal__close {
    font-size: 50px;
    top: -2.5rem;
    right: -1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .elements__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

@media screen and (min-width: 1120px) {
  .elements__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}
